{# src/Acme/TaskBundle/Resources/views/Default/new.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
Hi there, do you want to print something?
<a href="{{ path('printer_request_new') }}">Click here!</a>
{% endblock %}
