{# app/Resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block body %} Hi there! Would you like to <a href="{{ path('printer_request_new') }}">print something</a>?{% endblock %}

